flask==2.2.5
gunicorn==23.0.0
requests==2.31.0
python-dotenv==1.0.1
aiohttp==3.8.5
alembic==1.13.2
boto3==1.35.5
botocore==1.35.5
pandas==2.1.4
numpy==1.26.4
sqlalchemy==2.0.32
psycopg2==2.9.9
beautifulsoup4==4.12.2
scipy==1.11.4
altair==5.0.0
